body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* TOP MENU - WHITE */
.top-menu {
    background-color: white;
    border-bottom: 2px solid #ccc;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-menu a,
.top-menu span {
    color: black;
    text-decoration: none;
    margin-right: 15px;
    cursor: pointer;
    font-weight: bold;
}

.join {
    background-color: rgb(31, 169, 223);
    color: white;
    padding: 6px 15px;
    border-radius: 20px;
}

.page-bg {
    background-color: #006341;   /* change color here */
    min-height: 100vh;
    padding: 20px;
    color: white;
}

h1 {
    margin-top: 0;
}

/* CONTENT SECTIONS */
.content {
    display: none;
}

.content.active {
    display: block;
}

/* MENU LAYOUT */
.menu-container {
    display: flex;
    gap: 40px;
}

.menu-col h3 {
    margin-top: 0;
    color: #cce8dc;
}

.menu-col p {
    margin: 5px 0;
}
.menu-col p {
    margin: 6px 0;
    font-size: 16px;
}
