body {
    margin: 0;
    padding: 10px 15px;
    background-color: #006341;
    color: #006341;
    font-family: 'Times New Roman', Times, serif;
    height: 90vh;
    
    
}
body {
    margin: 0;
    background-color: white;  /* white color between sections */
    
}

.container {
    display: flex;
    background-color: white;
}

.column {
    width: 55%;
    }
.section {
    height: 50vh;
    margin: 0px;
    margin-top: 20px;
    padding: 20px;
    color: white;
    font-size: 20px;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;   /* vertical center */
    align-items: center;       /* horizontal center */
    text-align: center;
}
.s1 { background-color: #2c3e50; }
.s2 { background-color: #7f8c8d; }
.s3 { background-color: #16a085; }
.s4 { background-color: #8e44ad; }
.s5 { background-color: #e67e22; }
.s6 { background-color: #2c3e50; }
.s7 { background-color: #7f8c8d; }
.s8 { background-color: #16a085; }
.s9 { background-color: #8e44ad; }
.s10 { background-color: #e67e22; }

.top-menu {
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;  
}

.top-menu span {
    margin: 0 10px;
    cursor: pointer;
}

.join {
    background-color: black;
    color: white;
    padding: 6px 15px;
    border-radius: 20px;
    margin-left: 10px;
}

/* GREY SECTION */
.hero {
    background-color:#1c672b;
    text-align: center;
    color: white;
    padding: 10px;
}
.hero button {
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background-color: white;
    color: blueviolet;
    font-weight: bold;
    font-size: 16px;
}
.s6 {
    background-color: none;
    color: white;
    padding: 10px 20px;
    /* border-radius: 20px; */
    margin: 0px;
    margin-top: 20px;
    block-size: 50vh;
}
.s1 {
    background-image: url("p1.png"); /* your image path */
    background-size: cover;              /* cover full section */
    background-position: center;         /* center image */
    block-size: 47vh;
    margin-left: 0px;
    
}
.s3{
    background-color:white;
    text-align: center;
    color: black;
    padding: 20px;
    font-size: 15px;
    block-size: 110vh;

}
.footer {
    display: flex;
    justify-content: center;  
    background-color: none;
    padding: 40px 20px;
    gap: 100px;
    font-family: Arial, sans-serif;
}

.footer-col {
    width: 210px;              
    min-height: 300px;         
}

.footer-col h3 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
    font-family: "Segoe UI", sans-serif; 
    
}

.footer-col p {
    margin: 8px 0;
    font-size: 14px;
    cursor: pointer;
    height: 30px;
}

.footer-col p:hover {
    text-decoration: underline;
}


}
/* IMAGE GRID */
/* .images {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.images img {
    width: 50%;
    margin: 0%;
} */
